clase 1

In [ ]:
A = 40
B = 10
# Comparación
if(A>B):
    print("Es mayor ",A)
else:
    print("Es mayor ", B)

Clase 2

In [ ]:
# tipos de variables
A = "Carlos" #variable de tipo cadena de texto
Carlos = 12 #variable de tipo entero
otro = 1.79
deporte = False #booleano

In [ ]:
#funsion type ()        Investigar el tipo de datos que tiene una variable
type (A)

str

In [ ]:
#funcion para ver el tipo de dato
type (Carlos)

int

In [ ]:
type (otro)

float

In [ ]:
type (deporte)

bool

Clase 3

In [ ]:
A = 5
a = "cinco"
b = True
c = 17,3
D = ["juan","c"]
B = (2,3,7)
E = {SP : 7}
print (B)

NameError: name 'SP' is not defined

In [ ]:
#tupla (osea que son inmutables / no cambian)
type (B)

tuple

In [ ]:
print("la variable es:", type (5473))
print("la variable es:",type (12.4))
print("la variable es:",type (True))
print("la variable es:",type ("holamundo"))

la variable es: <class 'int'>
la variable es: <class 'float'>
la variable es: <class 'bool'>
la variable es: <class 'str'>

variables que almacenen multiples datos

In [ ]:
#declaracion de creacion de una tupla
No_Modificable= (1,2,3,4)
print ("la variable es de tipo", type(No_Modificable))

la variable es de tipo <class 'tuple'>

In [ ]:
#creacion de una lista
Lista = [1,3,2,5]
print ("la variable es de tipo", type(Lista))

la variable es de tipo <class 'list'>

In [ ]:
#creacion de un diccionario
diccionario = {
    "angel":112524,
    "andres":134230,
    "cristian":253494,
    "arialdo":299482,
    "esteban":123456,
    "jesus":283923,
    "elsa":849283,
    "ariam":289349
}
print ("la variable es de tipo", type(diccionario))
print (diccionario)

la variable es de tipo <class 'dict'>
{'angel': 112524, 'andres': 134230, 'cristian': 253494, 'arialdo': 299482, 'esteban': 123456, 'jesus': 283923, 'elsa': 849283, 'ariam': 289349}

In [ ]:
#dataset
import pandas as pd #importar libreria pandas
datos = {
    "nombre":["angel","andres","cristian","arialdo","esteban","jesus","elsa","ariam"],
    "edad":[25,20,22,28,20,21,29,26],
    "ciudad":["tolima","bogota","cali","medellin","bogota","yopal","bogota","barranquilla"],
    "altura":[1.70,1.80,1.75,1.67,1.54,1.66,1.78,1.69],
    "identificacion":[112524,134230,253494,299482,123456,283923,849283,289349],
    "deporte_fav":["basket","futbol","basket","futbol","basket","handball","futbol","voley"],
    "trabajo":["estudiante","delivery","estudiante","Oficina","doctor","maestro","estudiante","programador"]
    "pais":["colombia","colombia","colombia","colombia","colombia","colombia","colombia","colombia"]
    "numero_tele
}
#crear un dataframe
dataframe = pd.DataFrame(datos)
print ("la variable es de tipo:", type(dataframe))
print (dataframe)

la variable es de tipo: <class 'pandas.core.frame.DataFrame'>
     nombre  edad        ciudad  altura  identificacion deporte_fav  \
0     angel    25        tolima    1.70          112524      basket
1    andres    20        bogota    1.80          134230      futbol
2  cristian    22          cali    1.75          253494      basket
3   arialdo    28      medellin    1.67          299482      futbol
4   esteban    20        bogota    1.54          123456      basket
5     jesus    21         yopal    1.66          283923    handball
6      elsa    29        bogota    1.78          849283      futbol
7     ariam    26  barranquilla    1.69          289349       voley

       trabajo
0   estudiante
1     delivery
2   estudiante
3      Oficina
4       doctor
5      maestro
6   estudiante
7  programador

clase #5

dar forma a las salidas de impresiones

In [ ]:
AA = 13
BB = 'Trece'
print ("los valores son :", AA, BB)

los valores son : 13 Trece

In [ ]:
CC = 14
DD = "Comida"
print (f"el valor de la variable es: {CC} y el valos de la otra variable es: {DD}")

el valor de la variable es: 14 y el valos de la otra variable es: Comida

In [ ]:
N = 'Angel'
E = 18
print ("Hola,mucho gusto mi nombre es {} y tengo {} años".format(N,E))

Hola,mucho gusto mi nombre es Angel y tengo 18 años

In [ ]:
N = 'andres'
E = 30
print ("Hola,mucho gusto mi nombre es %s y tengo %d años"%(N,E))

Hola,mucho gusto mi nombre es andres y tengo 30 años

caracteres de escape

In [ ]:
#usando el \r
print ("me levante tarde hoy,\r llegue Tarde a la clase de algoritmos")

 llegue Tarde a la clase de algoritmos

In [ ]:
print ("me levante a las 6:45 am, \r y me \"tome\" un tinto")

 y me "tome" un tinto

In [ ]:
print ("En términos de programación, un algoritmo es una secuencia de pasos lógicos que permiten solucionar un problema. Por ejemplo: si perdemos el acceso a una cuenta nos dan una serie de pasos para poder identificarla y así recuperarla o borrarla, \r que desarrollándose de \"una\" manera efectiva y lógica, \t lograrán un \n resultado determinado.")

 que desarrollándose de "una" manera efectiva y lógica, 	 lograrán un
 resultado determinado.

operadores matematicos y variables flotantes

In [ ]:

Num_1 = 10
Num_2 = 50
resta = Num_1 - Num_2
print(f"el resultado de la resta entre el numero {Num_1} y el numero {Num_2} \n el resultado es: {resta} y el tipo de variable es: {type(resta)}")

el resultado de la resta entre el numero 10 y el numero 50
 el resultado es: -40 y el tipo de variable es: <class 'int'>